@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply text-gray-900 bg-orange-50;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}